<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
 
 Exercise 2
Specification
Experience: Customer arrives at this web page, votes their gender and instantly receives a tally of all female and male voters (represented as a percentage):

∙        Use a CSS framework like Semantic UI, Bootstrap or Foundation
∙        Use a JavaScript framework like Meteor, Angular, etc.
∙        Make your app look like the image below (or better)
∙        The gender with the greater population will have a green number displayed
∙        The gender with the lesser population will have a red number displayed
∙        The gender numbers are calculated as a percentage of all votes (the combination of the two cannot exceed 100%)
∙        On initial load, for the first user in the world, display male and female percentages as 0% and 0%.
∙        Deploy to a free cloud hosting source and send the URL 

</p>